@media (max-width: 1200px ){
    .top__slider{
        &-title{
            font-size: 62px;
            line-height: 74px;
        }
        &-img{
            height: 640px;
        }
    }
    .collection {
        grid-template-columns: repeat(4, 1fr);
        &__img{
            min-height: auto;
        }
    }
}
@media (max-width: 1040px ){
    .blog{
        &__inner{
            flex-wrap: wrap;
        }
        &__items{
            width: 100%;
            max-width: 100%;
            &-img{
                width: 100%;
            }
        }
    }
    .aside{
        width: 100%;
        margin-left: 0;
        order: -1;
        margin-bottom: 50px;
    }
}
@media (max-width: 992px ){
    .blog__inner{
        justify-content: center;
    }
    .footer{
        &__info{
            width: 380px;
        }
    }
    .gallery{
        &__btn{
            margin: 0;
            padding: 6px 10px;
        }
        &__items{
            grid-gap: 10px;
        }
    }
    .about__text{
        padding-left: 0;
    }
    
}

@media (max-width: 840px ){
    .collection{
        grid-template-columns: repeat(3, 1fr);
    }
    .top__inner{
        &::after{
            height: 100%;
        }
    }
    .top__slider{
        &-title{
            font-size: 44px;
            line-height: 54px;
        }
        &-img{
            height: 540px;
        }
    }
    .work__item--production,
    .work__item-measurements {
        margin-left: 150px;
    }
    
}

@media (max-width: 768px ){
    .header__btn{
        display: none;
    }
    .menu{
        padding: 0;
        &__list-item{
            padding-left: 0;
            & + .menu__list-item {
                padding-right: 0;
            }
        }
    }
    .logo {
        margin: 0;
    }
    .footer{
        &__inner{
            flex-wrap: wrap;
            justify-content: center;
        }
        &__info{
            width: 100%;
            margin-bottom: 50px;
            &-text{
                width: 100%;
                max-width: 100%;
            }
        }
        &__menu,
        &__social{
            margin-left: auto;
            margin-right: auto;
        }
    }
    .collection{
        grid-template-columns: repeat(2, 1fr);
        
    }
    .decor{
        padding: 70px 0 55px;
    }
    .gallery{
        &__buttons{
            display: grid;
        }
        &__btn{
            margin-bottom: 10px;
        }

    }
    .inspiration{
        &__images{
            display: none;
        }

    }
    .map iframe {
        height: 300px;
    }
}

@media (max-width: 650px ){
    
    .top__slider{
        &-item{
            flex-direction: column;
        }
    }
    .gallery{
        &__items{
            grid-template-columns: repeat(1, 1fr);
        }
        &__item:first-child{
            grid-column: 1;
            grid-row: 1;
        }
    }
    .blog-box__items  {
        grid-template-columns: 1fr;
        & div {
            margin-bottom: 25px;
        }
    }
    .blog-box__img-link{
        display: block;
        & img {
            width: 100%;
        }
    }
    .contact__form-input,
    .contact__form-btn {
        width: 100%;
    }
}

@media (max-width: 540px ){
    .top__slider{
        &-title{
            font-size: 2rem;
            line-height: 44px;
        }
        &-info{
            margin-left: 83px;
            max-width: 430px;
        }
        &-img{
            height: 340px;
            margin-left: -29%;
        }
    }
    .logo {
        order: -1;
        position: relative;
        z-index: 12;
    }
    .header{
        &__inner{
            flex-wrap: wrap;
            padding-top: 42px;
        }
        &__btn-menu{
            display: block;
            background-color: transparent;
            border: none;
            cursor: pointer;
            order: -1;
            position: relative;
            z-index: 12;
            & span{
                background-color: #000;
                width: 34px;
                height: 3px;
                border-radius: 4px;
                display: block;
                margin: 6px 0;
            }
        }
    }
    .menu{
        padding-right: 0;
        width: 100%;
        background-color: #fff;
        position: relative;
        z-index: 11;
        text-align: center;
        transform: translateY(-350px);
        transition: all .5s;
        &--open{
            transform: translateY(30px);

        }
        &__list {
            display: block;
        }
        &__list-item{
            padding-right: 0;
        }
        &__list-link{
            display: block;
            padding: 15px 0;
        }
    }
    .collection{
        grid-template-columns: repeat(1, 1fr);
    }
    %title-font{
        font-size: 28px;
        line-height: 36px;
    }
    
    .work{
        &__item{
            width: 100%;
            &-title{
                font-size: 20px;
            }
        }
        &__item--production{
            order: 1;
        }
        &__item--production,
        &__item-measurements {
            margin-left: 0;
        }
        &__item-measurements {
            padding-top: 0;
            padding-bottom: 38px;
        }
        &__items-box::before,
        &__item-measurements::before,
        &__item--production::after{
            display: none;
        }
        &__items-box{
            border-bottom: none;
            flex-wrap: wrap;
        }
    }
    .inspiration__item-text,
    .inspiration__num{
        font-size: 16px;
        line-height: 23px;
    }
    .contact__slider-img {
        width: 100%;
    }
}

@media (max-width: 475px ){
    %title-font {
        font-size: 21px;
        line-height: 28px;
    }
    
}
@media (max-width: 375px ){
    .footer{
        &__inner{
            justify-content: space-between;
        }
        &__social{
            margin-left: 0;
        }
        &__form{
            display: block;
            &-button{
                width: 100%;
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }
    .top{
        &__slider-title{
            font-size: 35px;
            line-height: 45px;
            max-width: 150px;
        }
        &__slider-title + p{
            font-size: 1rem;
            line-height: 2rem;
            max-width: 180px;
        }
    }
    .nav-previous a, 
    .nav-next a {
        font-size: 11px;
        line-height: 16px;
    }
}